name: CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '*.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '*.md'

permissions:
  contents: read

env:
  JDK: '21'
  DISTRIBUTION: 'zulu'
  GRADLE_COMMAND: './gradlew --no-daemon'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ env.JDK }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ env.JDK }}
          distribution: ${{ env.DISTRIBUTION }}
      - name: jmhJar
        run: ${{ env.GRADLE_COMMAND }} clean jmhJar
